html, body {
  background: #191A1A;
  color: #CCCBCB;
  font-size: 20px;
  font-family: 'IBM Plex Mono', monospace;
  tab-size: 1.2em;
  line-height: 1.9;
  letter-spacing: 1px;
  letter-spacing: 0.1em;
}

::selection {
  background: rgba(255, 255, 255, 0.1);
  padding: 50px;
}

h1 {
  font-size: 1.7em;
  font-weight: 600;
}

.tag {
  background-color: #0C0C0D;
  border: 1px solid #2F2E2E;
  border-radius: 100px;
  font-size: 0.9em;
  padding: 0 10px 0 15px;
  display: inline-block;
}
